$breakpoints: (
  "extra-small": 480,
  "small": 640,
  "medium": 768,
  "large": 1024,
  "extra-large": 1280,
);

$primary: #ffcc00;
$secondary: #4b4b4b;
$tertiary: #4b4b4b;

$font-sizes: (
  "xxs": 12px,
  "xs": 14px,
  "s": 16px,
);

$font-weights: (
  "light": 300,
  "regular": 400,
  "bold": 700,
);

$font-families: (
  "Inter": "Inter, system-ui, Avenir, Helvetica, Arial, sans-serif",
  "Montserrat": "Montserrat, sans-serif",
  "OpenSans": "Open Sans, sans-serif",
);
