
/** =============     FONT        ============= */
$font-sizes: (
  "xxs": 12px,
  "xs": 14px,
  "s": 16px,
);

$font-weights: (
  "light": 300,
  "regular": 400,
  "bold": 700,
);

$font-families: (
  "Inter": "Inter, system-ui, Avenir, Helvetica, Arial, sans-serif",
  "Montserrat": "Montserrat, sans-serif",
  "OpenSans": "Open Sans",
);

/** =============     GRID & BREAKPOINTS       ============= */

$breakpoints: (
  "extra-small": 480,
  "small": 640,
  "medium": 768,
  "large": 1024,
  "extra-large": 1280,
);

$columns: 12;
$gap: 30px;
