// please carefully for import, because the hierarchical of scss read from top to bottom
@charset 'utf-8';
@use "sass:color";
@use "sass:map";

@use "abstracts/__abstract-dir" as *;
@use "base/reset";
@use "base/base";

html {
  scroll-behavior: smooth;
  body {
    background-color: $bgColor;
    font-family: map-get($font-families, "OpenSans");
    color: $white;
  }
}
